<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Information Database</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="/main.js"></script>
</head>
<body>
    <div id="message"></div>
    <div id="header-container">
      <h1>Student Information Database TEST</h1>
    </div>

    <!-- <h4>Enter Student Information</h4>
    <form action="/api/v1/student" method="POST">
        <input type="text" placeholder="Full Name" name="name"></br>
        <input type="text" placeholder="Major" name="major"></br>
        <input type="text" placeholder="GPA" name="gpa"></br>
        <input type="number" placeholder="Student ID" name="id"></br>
        <button type="submit">Submit</button>
    </form> -->

    <div id="control-panel-container">

      <div id="change-major-div" class="container">
        <h4>Change Major</h4>
        <form>
          <input id="search-student-id" maxlength="7" autocomplete="off" placeholder="Enter Student ID"></br>
          <input id="update-student-major" type=""number" maxlength="30" placeholder="Enter New Student Major"></br>
          <button id="update-button" type="submit">Submit</button>
        </form>
      </div>

      <div id="new-student-div" class="container">
        <h4>Enter Student Information</h4>
        <form>
            <input id="post-name" type="text" maxlength="30"  placeholder="Full Name" name="name"></br>
            <input id="post-major" type="text" maxlength="30"  placeholder="Major" name="major"></br>
            <input id="post-gpa" type="text" maxlength="4"  placeholder="GPA" name="gpa"></br>
            <input id="post-id" maxlength="7" autocomplete="off" placeholder="Student ID" name="id"></br>
            <button id="post-button" type="submit">Submit</button>
        </form>
      </div>

      <div id="delete-student-div" class="container">
        <h4>Delete Student Record</h4>
        <form>
          <input id="delete-student-by-id" maxlength="7" autocomplete="off" placeholder="Enter Student ID"></br>
          <button id="delete-button" type="submit">Submit</button>
        </form>
      </div>
      
    </div>

    <div id="result-container">
        <% for(var i = 0; i < students.length; i++) {%>
          <div class="student">  
            <div class="result-line">STUDENT ID:</div> <%= students[i].id %></br>
            <div class="result-line">NAME:</div> <%= students[i].name %></br>
            <div class="result-line">MAJOR:</div> <%= students[i].major %></br>
            <div class="result-line">GPA:</div> <%= students[i].gpa %></br> 
          </div>
        <% } %>
    </div>
</body>
</html>