<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERN CRUD Practice</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="/main.js"></script>
</head>
<body>
    <div id="header-container">
      <h1>Student Database</h1>
    </div>
    

    <!-- <h4>Enter Student Information</h4>
    <form action="/api/v1/student" method="POST">
        <input type="text" placeholder="Full Name" name="name"></br>
        <input type="text" placeholder="Major" name="major"></br>
        <input type="text" placeholder="GPA" name="gpa"></br>
        <input type="number" placeholder="Student ID" name="id"></br>
        <button type="submit">Submit</button>
    </form> -->

    <div id="control-panel-container">
      <div id="new-student-div" class="container">
        <h4>Enter Student Information</h4>
        <form>
            <input id="post-name" type="text" placeholder="Full Name" name="name"></br>
            <input id="post-major" type="text" placeholder="Major" name="major"></br>
            <input id="post-gpa" type="text" placeholder="GPA" name="gpa"></br>
            <input id="post-id" type="number" placeholder="Student ID" name="id"></br>
            <button id="post-button" type="submit">Submit</button>
        </form>
      </div>

      <div id="change-major-div" class="container">
        <h4>Change Major</h4>
        <form>
          <input id="search-student-id" type=""number" placeholder="Enter Student ID">
          <input id="update-student-major" type=""number" placeholder="Enter New Student Major">
          <button id="update-button" type="submit">Submit</button>
        </form>
      </div>

      <div id="delete-student-div" class="container">
        <h4>Delete Student Record</h4>
        <form>
          <input id="delete-student-by-id" type=""number" placeholder="Enter Student ID">
          <button id="delete-button" type="submit">Submit</button>
          <div id="delete-message"></div>
        </form>
      </div>
    </div>
    
    <div id="result-div">
      <h4>Database Results</h4>
      <ul class="student-container">
        <% for(var i = 0; i < students.length; i++) {%>
          <li class="student">  
            STUDENT ID: <span><%= students[i].id %></span>, 
            NAME: <span><%= students[i].name %></span>, 
            MAJOR: <span><%= students[i].major %></span>, 
            GPA: <span><%= students[i].gpa %></span> 
          </li>
        <% } %>
      </ul>
    </div>
</body>
</html>