body {
    background-color: #ebecf0;
}

#header-container {
    display: flex;
    justify-content: center;
}

#control-panel-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

#control-panel-container input {
    border-radius: 5px;
    border: 0px;
    margin-bottom: 3px; 
    min-width: 200px;
}

.container {
    background-color:#e7e7e7;
    border-radius: 20px;
    -webkit-box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12);
    display:inline-block;
    margin:5px 10px;
    min-height:222px;
    padding:10px;
    min-width: 250px;
}

#result-container {
    background-color:#e7e7e7;
    border-radius: 20px;
    -webkit-box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12); 
    box-shadow: 5px 1px 10px 5px rgba(0,0,0,0.12);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 25px auto;
    min-height:222px;
    padding:8px;
    width: 900px;
}

.student {
    background-color: #e0e0e0;
    border-radius: 20px;
    margin: 5px 10px;
    min-height: 120px;
    min-width: 250px;
    padding: 12px;
}

.result-line {
    display: inline;
    font-weight: bold;
}